.progressBar {
    width: 200px;
    height: 200px;
}

.integerIncremenetBox{
    height: fit-content;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }

  .integerIncremenetBox button{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
  }
  .integerIncremenetBox input{
    font-size: 20px;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
  }

  .main-container{
      align-items: center;
      width: 500px;
      background-color: #282c34;
  
  }

  .general-container {
        width: 100%;
        display:grid;
        justify-content: center;
        align-items: center;
        background-color: blue;
      
  }